<div class="container-fluid">
  <div class="xyz container-fluid h-100 my-5 mx-6 d-flex flex-row" *ngIf="p.productID!=0" style="background-color:#f6f6f6b5; width: 98%;">
    <div class="immagine container w-25">
      <img src="{{'data:image/jpg;base64,' + p.picture}}" class="card-img-top p-2" alt="{{p.name}}">
    </div>
    <div class="descrizione container d-flex flex-column w-50">
      <div class="nome my-2">
        <h2 class="mt-1 mb-3 d-flex flex-row justify-content-center">{{p.name}}</h2>
        <h4 class="my-1">{{p.description}}</h4>
      </div>
      <div class="quantita my-2 d-flex flex-column">
        <h6 class="my-1">Disponibilià in magazzino: {{p.quantity}}</h6>
        <h6 class="my-1">Prezzo: €{{p.price}}</h6>
      </div>
    </div>
    <div class="carrello container d-flex flex-column w-25 p-5 align-items-center gap-5">
      <div *ngIf="p.quantity>=1" class="quantity mb-3">
        <div class="quantityText d-flex flex-row">
          <h5>Quantità:</h5> <h5> {{quantity}}</h5>
        </div>
        <div class="quantityButtons d-flex flex-row gap-1">
          <button type="button" class="btn btn-secondary" (click)="decreaseQuantity()" [disabled]="quantity === 1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
            </svg>
          </button>
          <button type="button" class="btn btn-secondary" (click)="increaseQuantity()" [disabled]="quantity === p.quantity">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="price d-flex flex-row"><h5>Prezzo: {{(p.price*quantity).toFixed(2)}} €</h5></div>
      <div *ngIf="p.quantity>=1"class="addToCart" (click)="addToCart()">
        <app-add-tocart></app-add-tocart>
      </div>
    </div>
  </div>
</div>
