.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

/*
 * Custom translucent site header
 */



/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

@media (min-width:768px){
  .category:hover{
    cursor: pointer;
    animation: scale-up 0.2s ease 0s 1 normal forwards;
    z-index: 10!important;
  }
  .category:not(:hover){
    cursor: pointer;
    animation: scale-down 0.2s ease 0s 1 normal forwards;
  }
}

@keyframes scale-up {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}

@keyframes scale-down {
	0% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@media (max-width:767px){
  .category{
    margin-bottom: 12px;
    padding-bottom: 12px;
  }
}
